*{
    padding: 0%;
    margin: 0%;
}
body{
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
}
/*header*/
.header{
    display:flex;
    position:center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background:black;
    color:white;
    cursor: pointer;

}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color:#1d232c;
}
.navbar-links a:hover{
    text-decoration: underline;
    color:#1d232c;
}
.navbar-menu-toggle{
    display:none;
}
/*side-navbar*/
.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    padding:20px;
    color:white;
    display:none;
    transition: 2s;
}
/*side-navbar-links*/
.side-navbar-links{
    margin-bottom: 30px;
}
.side-navbar-links a{
    text-decoration: none;
    color:white;

}
.side-navbar-links a:hover{
   text-decoration: underline;
   color:white; 
}
/*service*/
.service{
    padding:20px;
}
.service-container-1{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.service-container-2{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 10px;
}
.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}
.New-arrival{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.new-arrival-container1{
    position:relative;
    flex-basis:20%;
}
.New-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top:10px;
    color: #1d232c;
    top:50%;
    left:18%;
    border-radius:10px;
    position:absolute;

}
.news{
    display:flex;
    align-items:center;
    flex-direction:column;
    margin-top: 20px;
}
.news input{
    padding:10px;
    width: 80vw;
    margin-bottom:10px;
    border:solid;
}
.news button{
    margin-top:10px;
    color:#f2f4f7;
    background-color:#1D232C;
    border-radius:10px;
    padding:10px
}
.footer{
    margin-top:20px;
    padding:40px;
    background-color: #1d232c;
    color:white
}
.footer-icon-container :hover{
    background-color: hotpink;
}
.product-section{
    margin-top: 20px;
    display: block;
}
.product-search{
    width:80%;
    border:solid black 2px;
    border-radius: 20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    margin:auto;    

}
.product-search input{
    border:none;
    background-color:transparent;
    width: 100%;
}
.product-search input:focus{
    outline:none;
}
.product{
    padding:20px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;


}
.product{
    text-align:center;
    flex-basis:20%;
}
.product-box img{
    border-radius:10px;

}
.contact-us{
    background-color:#1D232C;
    color:white;
    display:flex;
    padding:20px;
    justify-content: space-around;
    gap:10px;
    flex-direction:column;
    margin-top: 20px;
    margin-bottom:20px;
    margin-left: 20%;
    margin-right:20%;
    border-radius:10px;

}

.contact-us button{
    margin-top:10px;
    border-radius:10px;
    padding:10px;
    margin-right: 80%;
}
.contact-us input{
    padding:10px;
    width: 50vw;
    margin-bottom:10px;
    border:solid;
    margin-right: 20%;
    }
/*media query*/
@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display:block;
    }
    
    .navbar-links{
        display:none;
    }
    .header-image{
        display:none;
    }
    .service-container-1{
        display:none;
    }
    .service-container-2{
        flex-direction:column;
    }
}